<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
  </head>
  <body class="bg-gradient-to-r from-blue-500 to-purple-500">
    <div>
      <nav class="sticky top-0 flex w-full bg-gradient-to-br from-sky-500 to-indigo-700 justify-between">
        <div class="text-1xl p-2">
          <p>Book Paradise</p>
        </div>
        <div>
          <h1 class="text-center text-2xl bg-transparent rounded-full p-2">
            {% block page_title %}
              Welcome
            {% endblock %}
          </h1>
        </div>
        {% if user.is_authenticated %}
        <div class="bg-transparent h-full m-2">
          <p class="mb-1">Logged in as {{ user.username }}</p>
          <div class="text-center">
            <a href="{% url 'logout' %}" class="border-2 border-blue-700 rounded p-1 mx-auto">Logout</a>
          </div>
        </div>
        {% else %}
        <div class="text-1xl border-2 border-blue-700 bg-transparent h-1/2 m-2 rounded">
          <a href="{% url 'login' %}" class="p-2">Login</a>
        </div>
        {% endif %}
      </nav>
    </div>
    <p>
      {% block content %}
      {% endblock %}
    </p>
  </body>
</html>
