{% extends 'base.html' %}

{% block title %}
  Password Reset Confirmation
{% endblock %}

{% block page_title %}
  Password Reset Confirmation
{% endblock %}

{% block content %}
  <div class="text-center mt-10">
    {% if validlink %}
    <h1 class="text-3xl">Enter new password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  </div>
  <form method="post" class="w-fit bg-gradient-to-br from-sky-500 to-indigo-700 p-5 mx-auto rounded-lg mt-10">
    {% csrf_token %}
    <div class="flex justify-between my-2">
      <label for="new_password1" class="mx-2">New Password</label>
      {{ form.new_password1 }}
    </div>
    <div class="flex justify-between">
        <label for="new_password2" class="mx-2">Confirm New Password</label>
        {{ form.new_password2 }}
    </div>
    <div class="w-fit mx-auto text-center border border-blue-700 rounded-lg bg-transparent hover:border-2 mt-5">
      <input type="submit" value="Change Password" class="px-2">
    </div>
  </form>
  <div class="w-fit mt-10 m-auto p-5 border border-blue-700 rounded-lg hover:border-2">
    <p class="text-2xl">Note</p>
    <ul>
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li></ul>
  </div>
  {% else %}
    <h1 class="text-3xl">Password reset unsuccessful</h1>
    <p class="mt-5">
      The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}